table td {
  vertical-align: top !important;
  background-color: white;
}

table {
  font-variant-numeric: tabular-nums;
}

.table-striped>tbody>tr:nth-child(odd)>td, 
.table-striped>tbody>tr:nth-child(odd)>th {
   background-color: white; // Choose your own color here
 }

.csl-entry {
  padding-left:35px;
  text-indent:-35px;
}

.csl-entry a i, .csl-entry a{
  padding-left:0px;
  text-indent:0px;
}

p img {
  max-width:900px;
}

h1 {margin-top:20px; display:block}
h2 {margin-top:15px}
h3 {margin-top:10px}
h4 {margin-top:5px}

#curriculum-vitae h1 {
font-size: 40pt
}

#education td {padding-top: 10px}

#education tr:first-child td {padding-top: 0px}

.smalldate{
  font-size: 1rem
}