/*-- scss:defaults --*/

$font-family-sans-serif: "Rubik" !default;

/*-- scss:rules --*/
.FigureTitle {
  font-weight: bold;
  font-family: 'Times New Roman';
  font-size: 12pt;
  margin: 5pt 0; 
  color: #222;
}
.FigureTitle p {text-indent: 0; text-align: left;}

figure.quarto-float-tbl figcaption.quarto-float-caption-top {
  text-align: left;
    margin: 0; margin-block-start: 0; margin-block-end: 0; margin-block-start: 0; margin-inline-start: 0; margin-inline-end: 0
}
.Caption {
font-family: 'Times New Roman';
color: #222;
font-style: italic;
font-size: 12pt;
color: #222; text-align: left;
max-width: 6.5in;
}

.Caption p {text-indent: 0; font-size: 12pt;}

.FigureNote {
font-family: 'Times New Roman';
color: #222;
font-size: 12pt;
margin-bottom: 5pt;
max-width: 6.5in;
}

.FigureNote p {text-indent: 5pt 0; margin: 0; padding: 0}

table {
    font-variant-numeric: tabular-nums;
}

.table {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  font-variant-numeric: tabular-nums;
}

.table>thead {
  border-bottom: 1px solid black;
}

.table>:not(caption)>*>* {
  border-bottom: none;
}

.quarto-figure {
margin-bottom: 0;
}