/* css styles */
.katex {font-size: 1.2em;}
.katex-display {font-size: 1.2em;}

h1.title {
  color: #fdfefe;
}

.list-unstyled ul {
  list-style: none;
}

.list-unstyled ul li {padding-left: 0; text-indent: -2em;}

